.bg-container{
  background-color: #fff;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg,#7cc7f6,#dcc2ff,#f3ffc2);
  background-size: 600% 600%;
  animation: bgAnimatedGradient 15s infinite linear;
}
@keyframes bgAnimatedGradient{ 
  0%{
      background-position: 0 85%;

  }
  50%{
      background-position:100% 20%;
  }
  100%{
      background-position: 0% 85%;
  }
}
.t{
  margin-left: 3%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
   h1{
    color: #170f45;
    
   } 
   .v{
    margin-left: 45%;
   }
  
    
  